
$main: orange;
$accent: #19FFD1;
$secondary: #fff;
$primary: #111;
$shade: rgba(128, 128, 128, 0.1);


:root {
  --main-10: #{mix(lighten($main, 40%),$secondary, 40%)};
  --main-20: #{mix(lighten($main, 30%),$secondary, 40%)};
  --main-30: #{mix(lighten($main, 20%),$secondary, 40%)};
  --main-40: #{mix(lighten($main, 10%),$secondary, 40%)};
  --main-50: #{$main};
  --main-60: #{darken($main, 10%)};
  --main-70: #{darken($main, 20%)};
  --main-80: #{darken($main, 30%)};
  --main-90: #{darken($main, 40%)};
  --accent-10: #{rgba($accent, .2)};
  --accent-20: #{rgba($accent, .4)};
  --accent-30: #{rgba($accent, .6)};
  --accent-40: #{rgba($accent, .8)};
  --accent-50: #{$accent};
  --accent-60: #{darken($accent, 10%)};
  --accent-70: #{darken($accent, 20%)};
  --accent-80: #{darken($accent, 30%)};
  --accent-90: #{darken($accent, 40%)};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --shade: #{$shade};
}

[color="main"] {
  --bg: var(--main-20) !important;
  --color: var(--main-80) !important;
  --outline: var(--main-60) !important;
  --disabled:  var(--main-10) !important;

}

[color="yellow"] {
  --bg: hsl(51, 100%, 80% ) !important;
  --color: hsl(51, 100%, 20% ) !important;
  --outline: hsl(51, 100%, 40% ) !important;
  --disabled:  hsl(51, 100%, 90% ) !important;
}

[color="green"] {
  --bg: hsl(125, 100%, 90%) !important;
  --color: hsl(125, 100%, 20%) !important;
  --outline: hsl(125, 100%, 40%) !important;
  --disabled:  hsl(125, 100%, 90%) !important;
}

[color="blue"] {
  --bg: hsl(200, 100%, 90% ) !important;
  --color: hsl(200, 100%, 20% ) !important;
  --outline: hsl(200, 100%, 40% ) !important;
  --disabled:  hsl(200, 100%, 90% ) !important;
}

[color="violet"] {
  --bg: hsl(296, 100%, 90% ) !important;
  --color: hsl(296, 100%, 20% ) !important;
  --outline: hsl(296, 100%, 40% ) !important;
  --disabled:  hsl(296, 100%, 90% ) !important;
}

[color="red"] {
  --bg: hsl(0, 100%, 90% ) !important;
  --color: hsl(0, 100%, 20% ) !important;
  --outline: hsl(0, 100%, 40% ) !important;
  --disabled:  hsl(0, 100%, 90% ) !important;
}

[color="orange"] {
  --bg: hsl(25, 100%, 90% ) !important;
  --color: hsl(25, 100%, 20% ) !important;
  --outline: hsl(25, 100%, 40% ) !important;
  --disabled:  hsl(25, 100%, 90% ) !important;
}

[color="pink"] {
  --bg: hsl(298, 100%, 90% ) !important;
  --color: hsl(298, 100%, 20% ) !important;
  --outline: hsl(298, 100%, 40% ) !important;
  --disabled:  hsl(298, 100%, 90% ) !important;
}

[color="cyan"] {
  --bg: hsl(176, 100%, 90% ) !important;
  --color: hsl(176, 100%, 20% ) !important;
  --outline: hsl(176, 100%, 40% ) !important;
  --disabled:  hsl(167, 100%, 90% ) !important;
}