
$main: gold;
$accent: #19FFD1;
$primary: #000000;
$secondary: #FFFFFF;


:root {
  --main-10: #{lighten($main, 40%)};
  --main-20: #{lighten($main, 30%)};
  --main-30: #{lighten($main, 20%)};
  --main-40: #{lighten($main, 10%)};
  --main-50: #{$main};
  --main-60: #{darken($main, 10%)};
  --main-70: #{darken($main, 20%)};
  --main-80: #{darken($main, 30%)};
  --main-90: #{darken($main, 40%)};
  --accent-10: #{lighten($accent, 40%)};
  --accent-20: #{lighten($accent, 30%)};
  --accent-30: #{lighten($accent, 20%)};
  --accent-40: #{lighten($accent, 10%)};
  --accent-50: #{$accent};
  --accent-60: #{darken($accent, 10%)};
  --accent-70: #{darken($accent, 20%)};
  --accent-80: #{darken($accent, 30%)};
  --accent-90: #{darken($accent, 40%)};
  --primary: #{$primary};
  --secondary: #{$secondary};
}

[color="yellow"] {
  --bg: hsl(51, 100%, 80% ) !important;
  --color: hsl(51, 100%, 20% ) !important;
  --outline: hsl(51, 100%, 40% ) !important;
  --disabled:  hsl(51, 100%, 90% ) !important;
}

[color="green"] {
  --bg: hsl(125, 100%, 90%) !important;
  --color: hsl(125, 100%, 20%) !important;
  --outline: hsl(125, 100%, 40%) !important;
  --disabled:  hsl(125, 100%, 90%) !important;
}

[color="blue"] {
  --bg: hsl(200, 100%, 90% ) !important;
  --color: hsl(200, 100%, 20% ) !important;
  --outline: hsl(200, 100%, 40% ) !important;
  --disabled:  hsl(200, 100%, 90% ) !important;
}

[color="violet"] {
  --bg: hsl(296, 100%, 90% ) !important;
  --color: hsl(296, 100%, 20% ) !important;
  --outline: hsl(296, 100%, 40% ) !important;
  --disabled:  hsl(296, 100%, 90% ) !important;
}

[color="red"] {
  --bg: hsl(0, 100%, 90% ) !important;
  --color: hsl(0, 100%, 20% ) !important;
  --outline: hsl(0, 100%, 40% ) !important;
  --disabled:  hsl(0, 100%, 90% ) !important;
}

[color="orange"] {
  --bg: hsl(25, 100%, 90% ) !important;
  --color: hsl(25, 100%, 20% ) !important;
  --outline: hsl(25, 100%, 40% ) !important;
  --disabled:  hsl(25, 100%, 90% ) !important;
}

[color="pink"] {
  --bg: hsl(298, 100%, 90% ) !important;
  --color: hsl(298, 100%, 20% ) !important;
  --outline: hsl(298, 100%, 40% ) !important;
  --disabled:  hsl(298, 100%, 90% ) !important;
}

[color="cyan"] {
  --bg: hsl(176, 100%, 90% ) !important;
  --color: hsl(176, 100%, 20% ) !important;
  --outline: hsl(176, 100%, 40% ) !important;
  --disabled:  hsl(167, 100%, 90% ) !important;
}