@import "./main.scss";

.table {
  display: block;
  min-height: 124px;
  card {
    display: grid;
    padding: 0 8px;
    column-gap: 12px;
    grid-template-columns: 75px   1fr   75px 32px;
  }                     // pic  details time drop
  .sel,.drop {
    width: 24px;
    height: 24px;
    overflow: hidden;
    input:focus + label {
      color: var(--outline, var(--main-60));
    }
    label {
      padding: 0 !important;
      min-width: 24px;
      min-height: 24px;
      border: none !important;
      box-shadow: none !important;
      background: none !important;
    }
  }
  card + card {
    border-top: 1px solid var(--shade)
  }
  card {
    min-height: 100px;
    align-items: center;
    .itemImage {
      width: 75px;
      height: 75px;
      object-fit: cover;
    }
    .time {
      font-size: 13px;
      color: gray;
    }
    .holder2 {
      display: grid;
      gap: 6px;
      .itemName {
        font-weight: 600;
      }
      .price {
        font-weight: 600;
        color: var(--main-60);
      }
      .quantity {
        color: dimgray;
      }
    }
  }
  detail {
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--shade);
    }
    min-height: 0px;
    height: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    width: 100%;
    transition: height 0.2s;
    padding: 0 16px;
    label {
      color: dimgray;
      font-weight: bold;
    }
    p {
      font-size: 13px;
      margin: 0;
    }
  }
  .show {
    height: 100px;
  }
}

actions {
  display: flex;
  min-height: 56px;
  align-items: center;
  gap: 8px;
  .button {
    width: 96px;
    min-width: 96px;
    overflow: hidden;
  }
  .search {
    flex: 1 0 auto;
  }
  @media (max-width: 500px) {
    .button{
      padding: 0 8px;
      width: 40px;
      min-width: 40px;
      p {
        display: none !important;
      }
    }
  }
}

footer {
  display: flex;
  position: fixed;
  inset: auto 0 0 49px;
  height: 60px;
  z-index: 20;
  padding: 16px;
  background: var(--bg, var(--secondary));
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  label {
    flex-grow: 1;
  }
  n {
    font-weight: 600;
    color: var(--main-60);
  }
}

#overlay {
  #order {
    position: relative;
    background-color: white;
    border: 1px solid var(--main-60);
    padding: 16px;
    gap: 4px;
    justify-content: center;
    background: var(--secondary);
    width: clamp(450px, 95%, 1000px);
    max-width: 100%;
    height: 95%;
    @media (max-width: 450px) {
      height: 100%;
      border: none;
    }
    @media (max-height: 450px) {
      height: 100%;
    }
    .items {
      display: block;
      background: var(--shade);
      card {
        grid-template-columns: 75px 1fr;
        grid-template-rows: 90px 70px;
        padding: 4px 12px;
        background: var(--secondary);
        textarea {
          grid-column: 1 / span 3;
          resize: none;
          height: 60px;
          align-self: flex-start;
        }
      }
      card + card {
        margin-top: 12px;
      }
      .info {
        grid-template-columns: 1fr 125px;
        column-gap: 6px;
        grid-template-rows: 40px 40px 70px;
        input {
          min-width: 50px;
        }
        textarea, h3 {
          grid-column: 1 / span 2 !important;
        }
      }
      padding: 16px;
      position: absolute;
      inset: 55px 0 100px 0;
      overflow-y: auto;
      .sel, .value {
        display: none;
      }
    }
    sep {
      height: 1px;
      background: var(--main-60);
      margin: 12px;
      display: flex;
    }
    footer {
      height: 100px;
      background: var(--secondary);
      flex-wrap: wrap;
      padding: 0 16px;
      method {
        display: flex;
        font-weight: 600;
        align-items: center;
        width: 100%;
        p {
          flex-grow: 1;
          margin: 0;
        }
        select {
          padding: 0;
          background: transparent;
          border: none;
          option {
            background-color: var(--bg, var(--main-10));
          }
          &:focus {
            box-shadow: none;
            color: var(--outline, var(--main-50))
          }
        }
      }
      position: absolute;
      inset: auto 0 0 0 !important;
    }
    h2 {
      margin: 0;
      display: inline;
      margin-bottom: 48px;
    }
    p {
      color: dimgray;
    }
  }
  #confirm {
    background-color: white;
    border: 1px solid var(--main-60);
    padding: 16px;
    gap: 4px;
    justify-content: center;
    h2 {
      margin: 0;
      text-align: center;
    }
    p {
      color: dimgray;
      background: smoke;
    }
    div {
      gap: 8px;
      display: flex;
      justify-content: center;
    }
  }
}
